#content{width:99%;overflow:hidden !important;}
#front{width:100%;height:auto;display:block;overflow:hidden !important;margin:0;padding:0;}
#cat{width:100%;height:36px;overflow:hidden;}
#navi{width:99%;height:36px;overflow:hidden;}
#searchform{top:0px;right:0;}

#login,#nav li ul,.clock,.xover .sentry{display:none;}
.xf1 img,.xxf1 img{height:auto;width:100%;}
#r_sidebar{float:left;width:100%;margin:0;padding:10px;}
#l_sidebar,#lbar{float:left;width:100%;margin:0;padding:10px;overflow:hidden;border-right:1px solid #ccc;overflow:hidden;}
#bar{float:left;width:100%;margin:0;padding:10px;overflow:hidden;}

.f1,.f2,.f3,.f4,.lead{float:none;clear:both;width:99%;border:0;height:180px;overflow:hidden;margin:0 auto 3px;padding:0;text-align:center;}

#contentmiddle{float:left;width:100%;margin:0;padding:10px;border-right:0px solid #ccc;}
.fleft{float:left;width:100%;height:auto;margin:0;padding:10px;border-right:0px solid #ccc;}
.fmiddle{float:left;width:100%;height:auto;margin:0;padding:10px;overflow:hidden;border-right:0px solid #ccc;overflow:hidden;}
.fright{float:left;width:100%;height:auto;margin:0;padding:10px;overflow:hidden;}

.x1,.x2,.x3{float:left;width:100%;height:auto;margin:0;padding:10px;overflow:hidden;border:0;}
#contentfull{margin:0;padding:10px;}
#contentmiddle2{float:left;width:100%;margin:0;padding:10px;border-right:0px solid #ccc;}

#middle{float:left;width:100%;margin:0;padding:10px;border-right:0px solid #ccc;}
#middle .left-col{width:100%;float:left;margin-right:0px;}
#middle .right-col{width:100%;float:right;padding:0;}
.sez{width:100%;}

#s_footer,#footer{width:99%;overflow:hidden !important;}

.post-navigation {width:100%; padding: 15px 0; position: relative;clear:both;display:block;}
.post-navigation a {display: block; color: #000; font: 11px Helvetica, Arial, sans-serif; text-decoration: none; line-height: 1.5;}
.post-navigation a:hover {text-decoration: none;}
.post-navigation a em {display: block; color: #aaa9a9; font: italic 11px trebuchet ms,arial;text-transform:lowercase;}
.post-navigation a:hover span {text-decoration: underline;}
.post-prev {width:90%; min-height: 40px; padding-left: 30px; float: left; text-align: left; background: url(images/post_prev.png) 0 50% no-repeat;}
.post-next {width:90%; min-height: 40px; padding-right: 30px; float: right; text-align: right; background: url(images/post_next.png) 100% 50% no-repeat;}
.line {width: 1px; height: 100%; background: #d9d9d9; position: absolute; top: 15px; right: 50%;}

.rel {float:left;padding:10px 0;margin:0;width:100%;}
.rell {float:right;padding:20px 0;margin:15px 0;width:100%;}

.col1,.col2,.col3{width:100%;margin:0;padding:10px;border:0;display:block;float:left;}

.sfh1{float:left;width:100%;margin:0 0 100px 0;padding:10px;overflow:hidden;position:relative;min-height:350px;}