

@import url("post.css");


/* ----------------------------------- reset.css */ 
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { 
	margin: 0; 
	padding: 0; 
	border: 0;
	font-weight: inherit; 
	font-style: inherit; 
	font-size: 100%; 
	font-family: inherit; 
	vertical-align: baseline; 
}

*{ margin:0; padding:0; }
body{
	background:#EEE;
	color:#333;
	font: 14px/20px Tahoma,Helvetica,Sans-Serif;
	margin:0;
	padding:0;
}

/* ----------------------------------- base */
a,a:visited,a:active, a:link{ 
	color:#444 !important;
	text-decoration: none;
}
p a {
	text-decoration: underline !important;
}
a:hover{ 
	text-decoration:none; 
	color:#000; 
	background:transparent;
	transition: all .35s linear;
	-o-transition: all .35s linear;
	-moz-transition: all .35s linear;
	-webkit-transition: all .35s linear;
}
a#playPause {
	display: none;
}
a#bottomNavClose div {
	width: 22px;
	background-position: center right;
	margin-left: 44px;
}
img, iframe {
	/* we want all images black and white! - and so does the comments iframe */
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
h1{
	font: normal 42px/80% UnifrakturMaguntia,Times New Roman,Times,serif;
	letter-spacing:-1px;
	text-decoration: none;
}
h2{
	font: normal 40px/80% Cardo,Georgia,Times New Roman,Times,serif;
	letter-spacing: auto;
	line-height: auto;
	text-decoration: none !important;
}
h1 a, h2 a, h3 a, h4 a{
	text-decoration: none !important;
}
p {
	text-align: justify;
}
.clear { clear: both; }
.full-row {
	width: 100%;
	position: relative;
	min-height: 1px;
}

#content {
	margin-top: 50px;
}

/* ================================ HEAD */
#header {
	margin-top: 10px;
	margin-bottom: 20px;
}
#header .clock{
	color:#333;
	float: right;
	padding:0;
	margin: 8px;
	font-size:16px;
	font-family: Cardo,times new roman,georgia;
	text-transform:lowercase;
	text-shadow:#fff 1px 1px 1px;
}
.header-title h1 a{
	margin: 30px auto 5px;
	display:block;
	text-align:center;
	padding:0;
	color:#222;
	text-transform: lowercase;
	font: normal 75px/55px UnifrakturMaguntia, Georgia,Times New Roman,Times,serif;
	letter-spacing: 5px;
}
.header-title h1 a:hover{ 
	background:transparent; 
	color:#777;
}
.header-title .subtitle{
	font-size: 65%/30px;
	color:#777;
	letter-spacing:2px;
	text-transform:uppercase;
	margin: 0 auto;
	display:block;
	text-align:center;
	padding:0;
	padding-bottom: 10px;
	font-family: Times New Roman;
}
#header #searchform {
	margin:0;
	padding:3px 0;
	float: right;
}
#header #searchform #s{
	width: 200px;
	height: 22px;
	padding: 5px 10px;
	border:0 solid #ccc;
	font: normal 14px times new roman,serif;
	text-transform: lowercase;
	margin: 0;
	color: #333;
}

#header .header-top, #header .header-bottom {
	width:100%;
	height:35px;
	font:normal 18px times new roman,serif;
}
	#header .header-top {
		border-bottom: 2px solid #333; 
		border-top: 1px solid #333;
	}
	#header .header-bottom {
		border-top: 2px solid #333; 
		border-bottom: 1px solid #333;
	}

.category-nav div {
	text-align: center;
	font-variant: small-caps;
	font-weight: bold;
	font-family: Times new Roman;
	font-size: 20px;
}
.category-nav span {
	padding-left: 10px;
	padding-right: 10px;
}
.category-nav span a:hover {
	background:transparent; 
	color:#999;
}

.top-line {
	margin-top: 20px;
	border-top: 1px solid #666;
}
.bottom-line {
	margin-bottom: 20px;
	border-bottom: 1px solid #666;
}


/* ============================== FOOTER */
#footer {
	margin-top: 50px;
	padding: 20px 0;
	background-color: #444;
	height: 300px;
	color: #AAA;
}
	#footer h3 {
		font-weight: bold;
		font-size: 16px;
		font-family: Times New Roman;
		margin: 10px;
	}
	#footer input {
		clear: both;
		background-color: #AAA;
		color: #000;
		padding: 10px;
		font-family: Times New Roman;
		height: 30px;
	}
	#footer a {
		color: #AAA !important;
		text-decoration: underline;
	}
	.badges {
		margin-top: 20px;
	}
	.badges img {
		width: 70px; height: 70px;
		margin-bottom: 20px;
	}
	.badges a {
		text-decoration: none !important;
	}

/* ============================== HOME */
span.category, span.date {
	float: right;
	margin-right: 5px;
	clear: both;
}
span.category {
	font-variant: small-caps;
	font-weight: bold;
}
span.date {
	font-style: italic;
}

.manchete {
	padding-bottom: 20px;
	margin-top: 50px;
}
	.manchete h2 {
		text-align: center;
		font-size: 42px;
		clear: both;
		margin-bottom: 10px;
		line-height: 45px;
	}
	.manchete p {
		text-indent: 70px;
		margin-top: 30px;
	}
	.manchete .manchete-img p {
		text-indent: 0 !important;
		margin-top: 10px !important;
	}
	.manchete .category {
		margin-top: 30px;
	}

.home-categories .quadro {
	padding: 20px;
}
	.home-categories span {
		font-size: 12px;
	}
	.home-categories h3 {
		clear: both;
		font-weight: bold;
		font-family: Cardo,times new roman,georgia;
		font-size: 30px;
		padding-top: 20px;
		margin: 10px 5px;
		text-align: center;
	}
	.home-categories h3.thumb_title {
		padding-top: 0;
		font-size: 25px;
	}
	.home-categories p {
		text-indent: 50px;
		text-align: justify;
	}
	.quadro div.thumb_container {
		width: 100%;
		height: 150px;
		overflow: hidden;
		position: relative;		
	}
	.quadro .attachment-post-thumbnail {
		position: absolute;
		left: -100%;
		right: -100%;
		top: -100%;
		bottom: -100%;
		margin: auto; 
		height: auto;
		width: auto;
	}

.extra1 {
	padding-top: 20px;
}
	.extra1 .imagem-do-mes img {
		width: 100%;
	}
	.imagem-do-mes p {
		text-align: left;
	}
	.imagem-do-mes span {
		float: left !important;
	}
	.imagem-do-mes h3 {
		text-align: left !important;
	}

	.extra1 .extra-news img {
		width: 100%;
	}

.read-all {
	color: #666;
	text-decoration: underline;
	margin: 10px;
	float: right;
}

.line-title h2 {
	position: relative;
	top: -40px;
	background-color: #EEE;
	width: 60%;
	margin-left: 20px;
	padding: 0 20px;
}
.line-title hr {
	background-color: #666; 
}

.classificados {
	border-left: 1px solid #666;
}
	.classificados h2 {
		margin-bottom: 20px;
	}
	.classificados h3 {
		font-size: 18px;
		font-family: Cardo, Georgia;
		font-weight: bold;
		margin-bottom: 5px;
		font-variant: small-caps;
	}
	.classificados p {
		font-family: Times New Roman;
	}
.anuncio img {
	width: 100%;
}

/* ============================== SEARCH */
h2.search-title {
	margin-bottom: 20px;
}
	h2.search-title span {
		color: #666;
		text-decoration: underline;
	}

.search-result {
	margin-top: 20px;
}
	.search-result h3 {
		clear: both;
		font-weight: bold;
		font-family: Cardo,times new roman,georgia;
		font-size: 20px;
		padding-top: 10px;
		margin-left: 10px;
		margin-bottom: 10px;
	}

/* ============================== CREDITOS */
.creditos a {
	text-decoration: underline;
}
.creditos .row {
	margin-top: 30px;
}
	.creditos .row img {
		height: 150px;
		border: 0;
		margin: 20px;
	}
	.creditos h4 {
		font-size: 16px;
		font-weight: bold;
		font-style: italic;
	}

/* ============================== POST */
article {
	display: block;
	margin-bottom: 50px;
}
	article h2 {
		text-align: center;
		line-height: 50px;
	}
	article .entry-meta {
		display: block;
		clear: both;
		margin: 10px;
	}
	article .entry-meta .date, article .entry-meta .category {
		float: right;
		font-family: Cardo,times new roman,georgia;
		clear: both;
	}
		article .category {
			font-size: 20px;
			font-weight: bold;
		}

	article .entry-content, article .page {
		padding-top: 50px;
		clear: both;
		display: block;
	}
		article .entry-content p {
			text-indent: 50px;
			text-align: justify;
			font-family: Times New Roman;
			font-size: 16px;
			margin-bottom: 20px;
		}
		article .page p {
			text-align: justify;
			font-family: Times New Roman;
			font-size: 16px;
			margin-bottom: 20px;
		}
		article .entry-content strong, article .page strong {
			font-size: 20px;
			font-weight: bolder;
			text-indent: 20px;
		}

footer.entry-meta {
	text-align: right;
	width: 100%;
	padding: 30px;
}
	.entry-meta .tags {
		font-size: 12px;
	}
		.entry-meta .tags .i {
			font-family: Times New Roman;
		}
	.entry-meta .post-credito {
		font-family: Cardo, Georgia;
	}
	.entry-meta .autor {
		font-size: 14px;
		font-weight: bold;
	}
	.entry-meta .agencia {
		font-style: italic;
		font-variant: small-caps;
		font-size: 14px;
	}


.imagem-do-mes-large img {
	margin-top: 20px;
	width: 100%;
}
	.outras-imagens img {
		width: 100%;
	}
	.outras-imagens h4 {
		margin-top: 20px;
		font-size: 22px;
		font-family: Cardo,times new roman,georgia;
		text-align: center;
	}
	.outras-imagens h3 {
		font-variant: small-caps;
		font-size: 18px;
		font-family: Cardo,times new roman,georgia;
		margin: 10px;
	}

/* ============================== WIDGET */
.oldnews_recent_posts_thumbnails_widget h3 {
	font-family: Cardo,times new roman,georgia;
	font-size: 22px;
}

.oldnews_recent_posts_thumbnails_widget ul, .category-side ul {
	list-style: none;
}
	.oldnews_recent_posts_thumbnails_widget li, .category-side li {
		float: left;
		width: 100%;
		margin-top: 20px;
	}
	.oldnews_recent_posts_thumbnails_widget .oldnews-post-date, .category-side .oldnews-post-date {
		font-size: 12px;
		font-style: italic;
		clear: both;
		margin-left: 10px;
	}
	.oldnews_recent_posts_thumbnails_widget img, .category-side img {
		float: left;
		margin-right: 10px;
		width: 70px; height: 70px;
	}
	.oldnews_recent_posts_thumbnails_widget a, .category-side a {
		font-family: Times New Roman;
		font-size: 16px;
	}





